<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweets</title>
</head>
<body>
    <h1>All tweets</h1>
    <form action="/tweet" method="POST">
        
        <div>
            <label for="body">Tweet : </label>
            <input type="text" name="tweet[body]" id="body">
        </div>

        <button>Add Tweet</button>
    </form>
    <% for (let tweet of tweets) {%>
        <h3><%= tweet.username %> <%= tweet.body %> <%= tweet.likes %> </h3>
        <form action="/user/<%= tweet._id%>?_method=DELETE" method="post"><button>Delete</button></form>
        
    <% } %> 
    <% if(user) {%> 
        <button><a href="/user/<%= user._id %>">My profile</a></button>
        <button><a href="/user/all/<%= user._id %>">All users</a></button>     
    <% } %> 

</body>
</html>